@import 'src/variables.scss';
.primary {
    height: 40px;
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    user-select: none;
    font-weight: 400;
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid $green;
    background-color: $green;
    cursor: pointer;
    &:hover {
        background: $green;
    }
    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}
.secondary {
    height: 40px;
    width: 100%;
    background-color: #ffffff;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    color: $grey-text;
    font-weight: 300;
    border: 1px solid #ffffff;
    display: flex;
    cursor: pointer;
    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}
