@import "../../../styles/variable.scss";

.container {
  // width: 100%;
  // max-width: 1100px;
}

.flex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}
