@import '../../styles/variable.scss';

.topLeft{
  font-family: 'La Belle Aurore', cursive;
  align-self: flex-start;
  color:grey;
};

.bottomLeft{
  font-family: 'La Belle Aurore', cursive;
  align-self: flex-end;
  color:grey;
}

.developer-name {
  font-size: 3rem !important;
}

.content{
  display: flex;
  color: $white;

  &.align-center {
    align-items: center;
  }

  .left{
      flex-basis: 50%;
      padding:20px;
      display: flex;
      justify-content: space-between;
      .center{
        align-self: center;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
        .text{
          font-size: 24px;
          font-weight: bold;
          &:hover{
            &:nth-child(odd) {
              color:$primary;
            }
            &:nth-child(even) {
            color:$secondary;
          }
          }
        }
      };
  };
  .right{
    right: 10%;
    top: 20%;
    flex-direction: column;
    align-items: center;
    position: fixed;
    .avatar{
      width: 250px;
      height: 250px;
      border: 1px solid $black;
      border-radius: 50%;
      border-style: dashed;
      margin-top:15px;
      margin-bottom:15px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../../assets/profile.jpg');
      filter: grayscale(100%);
    }
    .title{
      margin-bottom: 15px;
      margin-top:15px;
      display: flex;
      align-items: center;
      color: $primary;
      cursor: pointer;
    };
  };
}
.text-18{
  font-size: 18px;
  &:hover{
    &:nth-child(odd) {
      color:$primary;
    }
    &:nth-child(even) {
    color:$secondary;
  }
  }
}

//style for about page right $$$$$$$$$$$$$$$%%%
.skill_container{
  width: 400px;
  height: 400px;
  position: relative;
  border: 0px solid green;
  border-radius: 50%;
  animation: Rotate 8s linear infinite;
  .react{
    position: absolute;
    left: 7%;
    top: 25%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background-image: url('../../assets/reactIcon.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: 0 0;


    &:hover{
      transform: scale(2);
    }

  };
.html{
  position: absolute;
    left: 45%;
    top: 0%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background-image: url('../../assets/html.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: 0 0;
    &:hover{
      transform: scale(2);
    }

};
.css{
  position: absolute;
  left: 86%;
  top: 25%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background-image: url('../../assets/cssIcon.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: 0 0;
  &:hover{
    transform: scale(2);
  }


};
.js{
  position: absolute;
  left: 82%;
  top: 75%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background-image: url('../../assets/js.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: 0 0;


  &:hover{
    transform: scale(2);
  }


};
.sc{
  position: absolute;
    left: 45%;
    top: 93%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    background-image: url('../../assets/sassIcon.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: 0 0;

    &:hover{
      transform: scale(2);
    }


};
.sc2{
  position: absolute;
    left: 8%;
    top: 70%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    background-image: url('../../assets/githubIcon.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: 0 0;

    &:hover{
      transform: scale(2);
    }


}

}



// responsive styles ##############################
@media screen and (max-width: 767px) {
  .content{
    flex-direction: column;
  }

}

@keyframes Rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}



@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce 5s infinite;
  animation-name: bounce 5s infinite;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

//about style
.highlight{
  text-decoration: underline;
  color:$secondary
}
//styling for my work
.content-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis:100%;
  overflow-y: scroll;
  height: 100%;

  .work-img{
    background-size: cover;
    background-image: url('../../assets/stb.jpeg');
    background-repeat: no-repeat;
    height: 350px;
    border-radius: 4px;
    box-shadow: 0 4px 20px #000;
  }
}
.work{
  max-width: 600px;
  .stbAbout{
    font-size: 12px;
    font-style: italic;
    color: #bdbdbd;
  }
}

.project-list {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;

  .heading {
    font-size: 1.4rem;
    margin-bottom: 0px;
    font-weight: 700;

    a {
      color: #a244d3 !important;
    }
  }

  .content,.project-content {
    font-size: 0.9rem;
    font-style: italic;
    color: #bdbdbd;
    margin-top: 5px;
  }

  .cover-img {
    position: relative;
    background-size: cover;
    background-color: #111111;
    background-repeat: no-repeat;
    height: 350px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 4px 20px #000;
    transition: all 0.2s ease-in-out;
    cursor: zoom-in;

    img {
      object-fit: contain;
    }

    &.active {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      overflow-y: auto;
      text-align: center;
      cursor: zoom-out;
    }
  }
}
