@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore&display=swap');
@import "../styles/variable.scss";

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

img {
  max-width: 100%;
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  background-color: #202123;
  line-height: 2;
}

a {
  text-decoration: none;
  color: #ffffff;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.rightBody {
  margin-left: 65px;
  height: 100vh;
  padding: 20px;
}
.btn{
    min-width: 100px;
    height: 40px;
    text-align: center;
    padding: 8px 16px;
    background-image: linear-gradient(to right, $primary, $secondary);
    border-radius: 4px;
    cursor: pointer;
}
.htmlTag{
  font-family: 'La Belle Aurore', cursive;
  font-size: 20px;
  color:grey;
}

hr {
  border-width: 0px;
  border-top: 1px solid rgba(255,255,255,0.12)
}

.text-bold {
  font-weight: 700;
}

.text-secondary {
  color: $secondary !important;
}

.mt-40 {
  margin-top: 40px;
}
