@import 'src/variables.scss';
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.new {
    padding: 50px;
}

.form-group {
    display: inline-block;
    margin-right: 15px;
}

.checkbox {
    position: relative;
    cursor: pointer;
    color: inherit;
    font-size: 14px;
    padding-left: 25px;

    + .checkbox {
        margin-left: 15px;
    }

    input[type='checkbox'] {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        opacity: 0;
        overflow: hidden;
        width: 0;
        height: 0;
    }

    .checkbox-border {
        position: absolute;
        left: 0;
        top: 50%;
        width: 18px;
        height: 18px;
        border: 2px solid $green;
        border-radius: 4px;
        background-color: transparent;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease-in-out;
        transform: translateY(-50%);
        cursor: pointer;
    }

    input:checked + .checkbox-border {
        background: $green;
    }

    input:checked + .checkbox-border::after {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 4px;
        width: 6px;
        height: 12px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
