@import "./variable.scss";

html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial,
    Sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 55px;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  letter-spacing: -0.075em;
  margin: 0;
  font-weight: normal;
  color: $black;
}
.flex {
  display: flex;
}
.alignItm {
  align-items: center;
}
.spc-btwn {
  justify-content: space-between;
}
.col-2 {
  flex-basis: 50%;
}
.headingM {
  font-size: 26px;
}
.introText {
  font-weight: 300;
  line-height: 1.3em;
  margin: 0.7em 0;
  clear: both;
}
.black {
  color: $black;
}
.grey {
  color: $grey;
}
.darkGrey {
  color: $dark-grey;
}
.text {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 15px;
  clear: both;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial,
    Sans-serif;
}
.borderBtm {
  border-bottom: 1px solid $mid-grey;
}
.greyBg {
  background-color: $grey;
}

.section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 300px 0px 300px;
}
